{% extends "layout/default.html.twig" %}

{% block title %}Réinitialisation du mot de passe - lebongroin{% endblock %}

{% block navbar %}
    {% include "security/_login_navbar.html.twig" %}
{% endblock %}

{% block content %}
    <div style="width: 420px; margin-left: 10%; margin-top: 200px;">
        <h3>Réinitialisation du mot de passe</h3>
        <p class="mb-4">Choisissez un nouveau mot de passe</p>
        
        {{ form_start(form) }}

        {{ form_row(form.password, {
            label: 'Mot de passe'
        }) }}

        {{ form_row(form.passwordConfirm, {
            label: 'Confirmez le mot de passe'
        }) }}

        <button class="btn" style="background-color: blue; color: white;" type="submit">Valider</button>
       
        {{ form_end(form) }}
    </div>
{% endblock %}