{% extends "layout/default.html.twig" %}

{% block title %}Réinitialisation du mot de passe - lebongroin{% endblock %}

{% block navbar %}
    {% include "security/_login_navbar.html.twig" %}
{% endblock %}

{% block content %}
    <div style="width: 420px; margin-left: 10%; margin-top: 200px;">
        <h3>Mot de passe oublié</h3>
        <p class="mb-4">Entrez l'adresse e-mail associée à votre compte</p>
        <form action="{{ path('security_passwordInit') }}" method="post">
            <div class="form-group">
                <label class="form-label" for="email">E-mail</label>
                <input id="email" type="text" class="form-control" name="email">
            </div>
            <button class="btn mt-4" style="background-color: blue; color: white;" type="submit">Réinitialiser le mot de passe</button>
        </form>
    </div>
{% endblock %}