
    <div class="comment-card mt-4" style="maw-width: 700px;">
        <h6 class="card-title"><span class="comment-createdAt"></span> - <span class="comment-user"></span></h6>      
        <p class="card-text">
            <small class="text-muted comment-content"></small>
        </p>
    </div>
    
