{% extends "base.html.twig" %}

{% block body %}
    <p>Voici votre lien de réinitialisation, {{ user.username }} !</p>

    <p>Afin de réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant : <p>
    <br>
    <br>
    <a href="{{ link }}">Cliquez ici pour réinitialiser votre mot de passe</a>
{% endblock %}