{% extends "base.html.twig" %}

{% block body %}
    <p>Bienvenue sur Lebongroin, {{ user.username }} !</p>

    <p>Afin de confirmer votre compte, veuillez cliquer sur le lien suivant : <p>
    <button class="btn btn-primary">salut</button>
    <br>
    <br>
    <a href="{{ link }}">Cliquez ici pour valider votre compte</a>
{% endblock %}