.nav-link:hover{
    border-bottom: solid orange;
}


.underlined{
    border-bottom: solid orange;
}

i.product-cartIndicator.bi-heart-fill {
    font-size: 1.3em; 
    color: orange;
}

i.product-cartIndicator.bi-heart {
    font-size: 1.3em;
    color: grey;
}
