<form action="{{ path('account_product_delete') }}" method="post">
    <input type="hidden" name="id" value="{{ product.id }}">
    <button class="btn btn-outline-secondary text-secondary" type="submit"><i class="bi bi-trash"></i> Supprimer</button>
</form>