{% extends "account/layout/account.html.twig" %}

{% block content %}

    <span style="padding: 10px; background-color: rgba(250, 50, 50, 0.1); color: orange;">Annonces en ligne ({{ count }})</span>

    <br><br>

    {% if count <= 0 %}
        <p>Vous n'avez aucune annonce en ligne</p>   
        <a class="btn" style="background-color: blue; color: white; font-weight: bold;" href="{{ path('product_new') }}"><i class="bi bi-plus-square"></i> Déposer une annonce</a>
                    
    {% endif %}
    

    {% for product in paginator.items %}
        {% include "account/product/_product_card.html.twig" %}
    {% endfor %}


    {# pagination links #}
    {% autoescape false %}
        {{ paginator.paginationLinks }}
    {% endautoescape %}

{% endblock %}