
    <div id="product-card" style="max-width: 700px;">
        <a class="card mb-3 product-showPath" style="text-decoration: none; color: black;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img class="img-fluid rounded-start product-firstPicture" style="height: 200px;" alt="...">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title product-title"></h5>    
                        <h5 class="card-title product-price"></h5>   
                        <p class="card-text mt-4">
                                <small class="text-muted product-categoryName"></small><br>    {# category_name #}
                                <small class="text-muted">
                                    <span class="product-city"></span>
                                    <span class="product-postalCode"></span>
                                </small>
                                <br>
                                <small class="text-muted product-createdAt"></small>  {# createdAt #}
                        </p>
                    </div>
                </div>
                <div class="col align-self-end">
                    <i class="product-cartIndicator bi bi-heart"></i></button>
                </div>
            </div>
        </a>
    </div>
    
