
<div style="border-color: white; border-style: solid; border-width: 1px; border-radius: 3px; box-shadow: 5px 2px 10px 3px grey; width: 900px;" class="m-4">
    
    <div class="m-2 row">
        <div class="col">
            {{ form_row(search_filter_form.category, {
                label: false,
                placeholder: 'Catégorie'
            }) }}
        </div>
        <div class="col">
            {{ form_row(search_filter_form.qSearch, {
                label: false,
                attr: {
                    placeholder: 'Que recherchez-vous ?'
                }
            }) }}
        </div>
        <div class="col">
            {{ form_row(search_filter_form.city, {
                label: false, 
                attr: {
                    placeholder: 'Saisissez une ville'
                }
            }) }}
        </div>
        <div class="col">
            <button class="btn btn-primary w-100">Rechercher</button>
        </div>
    </div>
</div>

