<div style="border-color: white; border-style: solid; border-width: 1px; border-radius: 3px; box-shadow: 5px 2px 10px 3px grey; width: 900px;" class="m-4">
    
    <div class="form-group mt-2 mb-2 row">
        <div class="col">
            <input class="form-control ms-2" type="text" placeholder="tapez votre recherche">
        </div>
        <div class="col">
            <i class="bi bi-geo-alt-fill"></i><input  class="form-control me-2" type="text" placeholder="localisation">
        </div>
    </div>
</div>