<div style="width: 50%;">
    <div class="row m-4">
        {% autoescape false %}
        <div class="col">
            {{ paginator.sortLink('createdAt', 'date') }}
        </div>
        <div class="col">
            {{ paginator.sortLink('price', 'prix') }}
        </div>
        {% endautoescape %}
    </div>
</div>