<div style="width: 40%;">
    <div class="row">
        <div class="col">
            Tri
        </div>
        <div class="col">
            prix
        </div>
        <div class="col">
            date
        </div>
    </div>
</div>