
{{ form_start(search_sort_form) }}

    <div style="width: 40%;">
        <div class="row">
            <div class="col-5">
                {{ form_row(search_sort_form.sort, {
                    attr: {
                        class: 'sort-select'
                    }
                }) }}
            </div>
            <div class="col-7">
            </div>
        </div>
    </div>

{{ form_end(search_sort_form) }}