{% extends "layout/default.html.twig" %}

{% block title %}Recherche - lebongroin{% endblock %}

{% block content %}

    {% include "product/_search_filters.html.twig" %}


    
    <h4 class="mb-4">Annonces{% if search_filter.qSearch is not null %} "{{ search_filter.qSearch }}"{% endif %} : {% if search_filter.city is not null %}{{ search_filter.city }}{% else %}Toute la France{% endif %}</h4>
    

    {% if paginator.items is empty %}
        <p>Désolé, nous n'avons pas ça sous la main !</p>
    {% endif %}
    

    {% for product in paginator.items %}
        {% include "product/_product_card.html.twig" %}
    {% endfor %}


    <div style="max-width: 700px" class="d-grid gap-2 mt-4 mb-4">
        <a class="btn" style="background-color: orange; color: white;"><i class="bi bi-bell"> Sauvegarder la recherche</i></a>
    </div>

    <br>

    {# pagination links #}
    {% autoescape false %}
        {{ paginator.paginationLinks }}
    {% endautoescape %}

    <br><br>


{% endblock %}
