<div style="text-align: start; max-width: 100%;" class="m-4">
    <div class="badge" style="text-align: start; background-color: white; color: black; font-weight: normal; font-size: 1em; border-radius: 5px; padding: 12px; max-width: 100%;">
        {{ message.content }}
        <div class="mt-2" style="color: grey; font-size: 0.8em;">{{ message.sentAt | date_formater }}</div>
    </div>
</div>