
{% for key, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ key }}">{{ message }}</div>
    {% endfor %}
{% endfor %}



<div class="text-success">
    <ul>
        <li>gérer les filtres avec js / je dois mettre en place un listener on change au niveau du select, et dans ce listener j'ajoute le dataset.sort à la balise loader
            ce qui permettra au js d'ajouter la clef sort avec la valeur associée dans l'url à fetch
            (petite précision: il faudra en tout premier dans le listener vider tout le contenu afin qu'il soit bien rechargé avec le sort pris en compte)</li>
        <li>remettre les miniatures</li>
        <li>ajouter pagination infinie sur les commentaires dans product_show et possibilité de laisser un commentaire (form soumis en js)</li>
        <li>trouver comment lancer une page en javascript</li>
    </ul>
</div>