
{% for key, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ key }}">{{ message }}</div>
    {% endfor %}
{% endfor %}



<div class="text-success">
    <ul>
        <li>ajouter pagination infinie sur les commentaires dans product_show et possibilité de laisser un commentaire (form soumis en js)</li>
        <li>créer un optionSuggestor vraiment générique et l'utiliser sur lebongroin</li>
        <li>utiliser infinitePagination sur maison.fr</li>
        <li>trouver comment lancer une page en javascript</li>
    </ul>
</div>