
{% for key, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ key }}">{{ message }}</div>
    {% endfor %}
{% endfor %}



<div class="text-success">
    <ul>
        <li>remettre les miniatures</li>
        <li>gérer les photos avec js dans product_show</li>
        <li>gérer les filtres avec js</li>
    </ul>
</div>