
{% for key, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ key }}">{{ message }}</div>
    {% endfor %}
{% endfor %}



<div class="text-success">
    <ul>
        <li>ajouter la relation entre la conversation et l'annonce</li>
        <li>gérer le problème des requêtes SQL trop nombreuses et lentes (voir ci-dessous)</li>
        <li>vidéo problème n+1 de grafikart (aussi voir vidéo sur les filtres de recherche)</li>
        <li>modifier la manière d'ajouter l'attribut page à l'url dans paginator</li>
    </ul>
</div>