
{% for key, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ key }}">{{ message }}</div>
    {% endfor %}
{% endfor %}



<div class="text-success">
    <ul>
        <li>vidéo sur les filtres de recherche (manque d'ajouter le tri par price etc...)</li>
        <li>modifier la manière d'ajouter l'attribut page à l'url dans paginator</li>
    </ul>
</div>