
{% for key, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ key }}">{{ message }}</div>
    {% endfor %}
{% endfor %}



<div class="text-success">
    <ul>
        <li>finir la page message_index puis commit et merge la branche messages</li>
        <li>problème n+1 (aussi voir vidéo sur les filtres de recherche)</li>
        <li>modifier la manière d'ajouter l'attribut page à l'url dans paginator</li>
    </ul>
</div>