
{% for key, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ key }}">{{ message }}</div>
    {% endfor %}
{% endfor %}



<div class="text-success">
    <ul>
        <li>constraints sur l'upload des photos (10 max et formats jpeg ou png)</li>
        <li>delete et update de produit et d'images</li>
        <li>suppression auto des miniatures avec entitylistener</li>
    </ul>
</div>